/* Footer */

footer {
    height: 15vh;
    background: #0a0613;
}

footer a {
    text-decoration: none;
}

footer a:hover
{
    color: #959595;
    border-bottom: 3px solid;
}

footer ul {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2vh;
    
}

footer li {
    list-style: none;
    padding: 5px;
}