/* Footer */

footer {
    min-height: 200px;
    height: 20vh;
    background: #0a0613;
    display: flex;
    flex-direction: column;
}

/* Duplicated code from nav ul */
footer ul {
    display: flex;
    margin: 0;
}


footer li {
    padding: 1vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    padding-top: 1.5vh;
    padding-bottom: 0;
    list-style-type: none;
}
/* End of duplicated code from nav ul */

#footerMenu {
    display: flex;
    flex-direction: column;
}

#footerMenu li{
    font-size: 1rem;
    text-align: left;
}

.icon {
    width: 50px;
    height: auto;
}