/* Footer */

footer {
    min-height: 150px;
    height: 20vh;
    background: #0a0613;
    display: flex;
    flex-direction: column;
}

#footerMenu {
    display: flex;
    flex-direction: column;
}

#footerMenu li{
    font-size: 1.1rem;
    text-align: right;
}

.icon {
    width: 50px;
    height: auto;
}