@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=PT+Sans&family=Rubik&display=swap');


/* ------------------------------------------ */

/* Navigation */

#logo {
    min-height: 30px;
    height: 5vh;
    padding-left: 1vh;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    padding-top: 1.5vh;
    list-style-type: none;
}

nav {
    background: white;
    height: 4vh;
    display: grid;
    grid-template-columns: 150px auto;
    block-size: fit-content;
}

nav li a {
    color:#4c4c7c;
    text-decoration: none;
}

nav li a:hover {
    color: #353535;
    border-bottom: 3px solid  #ff4500;
}

/* ------------------------------------------ */

/* Mobile Media Queries */

@media screen and (max-width: 900px) {
   
}
