@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=PT+Sans&family=Rubik&display=swap');


/* ------------------------------------------ */

/* Navigation */

#logo {
    min-height: 30px;
    max-height: 55px;
    height: 5vh;
    padding-top: 1vh;
    padding-left: 1vh;
}

nav {
    background: white;
    height: 4vh;
    display: grid;
    grid-template-columns: 150px auto;
    block-size: fit-content;
    flex-wrap: wrap; /* To help display properly on mobile view */
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 1vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    padding-top: 1.5vh;
    list-style-type: none;
}

nav li a {
    color:#4c4c7c;
    text-decoration: none;
}

nav li a:hover {
    color: #353535;
    border-bottom: 3px solid  #ff4500;
}

/* Hamburger Menu */
.hamburger{
    background-color: transparent;
    border: 0;
    display: none; /* Hides hamburger menu icon on desktop version */
    color: #4c4c7c;
    cursor: pointer;
    font-size: 25px;
}

.hamburger:focus {
    outline: none;
}

/* ------------------------------------------ */

/* Mobile Media Queries */

@media screen and (max-width: 900px) {
   nav ul {
       display: none;
       flex-direction: column;
       width: 100%;
   }

   nav ul.show {
       display: flex;
   }

   nav {
       display: flex;
       justify-content: space-between;
   }

   .hamburger {
       display: block;
       align-items: right;
       margin-right: 10px;
   }
}
