@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=PT+Sans&family=Rubik&display=swap');


/* ------------------------------------------ */

/* Navigation */

#logo {
    width: 200px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
}

nav li {
    padding: 1vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding-top: 1.5vh;
    list-style-type: none;
}

nav {
    background: white;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}

nav a {
    color: #757575;
    text-decoration: none;
}

nav a:hover {
    color: #353535;
    border-bottom: 3px solid;
}

/* ------------------------------------------ */

/* Mobile Media Queries */

@media screen and (max-width: 900px) {
   
}
