@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body,
.login-box {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  height: 100%;
}
